<% layout('/layouts/boilerplate') -%>
<body>
    <h3><b>Details</b></h3><br>
  <div class="card " style="width: 18rem;">
    <img src="<%= listing.image %>" class="card-img-top" alt="Listing-Image">
    <div class="card-body">
      <h5 class="card-title"><b><%= listing.title %></b></h5>
      <br>
      <p class="card-text"><%= listing.description %></p>
      <p>&#x20B9; <%= listing.price.toLocaleString("en-IN") %>/night</p>
      <p>Location : <%= listing.location %></p>
      <p>Country : <%= listing.country %></p>
      <div class="col-8">
        <a href="#" class="btn btn-primary">Edit</a>
      <a href="#" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
    <ul>
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li><img src="<%= listing.image %>" alt="Hotel image"></li>
      <li> &#x20B9; <%= listing.price.toLocaleString("en-IN") %>/night</li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">edit</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
      <button type="submit">delete this listing</button>
    </form>
</body>
